<%- include ("partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-3">
			
		</div>
		<div class="col-9">
			<h3>
				<%= campground.name%>
			</h3>
			<img src="<%=campground.image%>">
			<h5>
				<%=campground.description%>
			</h5>
		</div>
	</div>
</div>

<%- include ("partials/footer") %>