<%- include ("../partials/header") %>

<div class="container" style="padding:25px">
	<div class="jumbotron">
		<h1 class="display-4"> WELCOME TO CAMPGROUNDS</h1>
		<p class="lead">
			the best place where you can find awesome campgrounds
		</p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
	</div>
</div>


<div class="container">
	<div class="row ">
		<% campground.forEach(function(camp){%>
			<div class="col-md-3 col-sm-6">
					<img class="img-thumbnail img-thumbnail-index" src="<%=camp.image%>" style="margin-top:25px">
					<div class="figure-caption">
						<h4> <%=camp.name%> </h4>
						<p class="lead">
							<%= camp.description.substring(0,25)%>...
						</p>
						<a class="btn btn-primary" href="/campgrounds/<%= camp._id %>" >More Info</a>	
				</div>
			</div>
		<%});%>
	</div>
</div>

<%- include ("../partials/footer") %>